# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# SQLite
*.db

# Temporary uploads
uploads/
exports/
temp/

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/